*
{
   font-family: sans-serif;
   list-style: none;
   background-color: #aaa;
}

#recents 
{
   display: none;
}

strong {
   weight: 600;
}

strong#Low
{
   color: #249712;
}

strong#Moderate
{
   color: #f0e927;
}

strong#High
{
   color: #f36214;
}

strong#VeryHigh
{
   color: #d41e18;
}

strong#Extreme
{
   color: #753bc9
}

nav
{
   padding-bottom: 25px;
   border-bottom: 1px solid black;
}

input, button
{
   background-color: hsl(30, 20%, 90%);
}

nav, #main-content {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

#main-content article
{
   border: 2px solid #bbbbbb;
   padding: 10px;
   margin: 5px;
   border-radius: 10%;
}
